
.juver {
    display: none;
}

#juver1 + .juver:hover {
    display: block;
    color: red;    
}

body{
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    color: white;
    background-color: #282828;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.divider {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 80%;
    height: 2px;
    background: #8899A6;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.caja {
    line-height: 1.35;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    border-color: #8899A6;
    background-color: #37474F;
}

th {
    min-width: 30vw;
}

ul {
    min-height: 20vh;
    list-style:none
}

.big {
    text-align: center;
}

a {
    color: inherit;
}


a:hover{
    color: #69afdc; 
}

.enlace {
    text-decoration: none;
}
